body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #121212;
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    background: darkslategray;
}

.container {
    max-width: 800px;
    background: #fff;
    padding: 25px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: transform 0.3s ease;
}

/* Hover effect */
.container:hover {
    transform: translateY(-3px);
}

h1 {
    text-align: center;
}


/*  Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 120px;
    background: mintcream;
    border-right: 2px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    z-index: 10;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #333;
    padding: 12px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
    display: block;
    width: 80%;
    text-align: center;
}

nav ul li a:hover {
    background: #0078ff;
    color: #fff;
    transform: scale(1.05);
}

/* Content container */
.container {
    position: relative;
    z-index: 600;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    background: rgba(255,255,255,0.85);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.content {
    position: relative;
    z-index: 10;
    text-align: center;
    color: white;
    top: 50%;
    transform: translateY(-50%);
}

/*Grid Container*/
.image-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;
    max-width: 600px;
    margin-left: 250px;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 35px;
}

/* Grid Items*/
.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Circle Images*/
.grid-item img {
    width: 150px;
    height: 200px;
    border-radius: 40%;
    object-fit: cover;

    border: 4px solid black;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);

    animation: bounce 1.8s infinite ease-in-out;
}

/* Title under each image*/
.skill-name {
    margin-top: 8px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #1a1a1a;
}

/*Bouncy Animation*/
@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}

